extends layout

block content
  div.container

    p Username:#{user.username}
    p Email   :#{user.email}
    p #{status}


    br
    br

    p 検索ワード入力フォーム
    form(action="/getdb", method="post")
      input(type="text", name="keyword", id="keyword")
      input.btn.btn-primary(type="submit", name="submit", value="submit")
