//extends layout

head
  style
    include style.css
body
  p Username:#{user.username}
  p Email   :#{user.email}
  p #{status}

  a(href="/parse", target="_blank") parse page

  p ファイル入力フォーム
  form(action="/add", enctype="multipart/form-data", method="POST")
    input(type="file", name="avatar", id="avatar")
    input.btn(type="submit", name="submit", value="submit")

  p 検索ワード入力フォーム
  form(action="/getdb", method="GET")
    input(type="text", name="keyword", id="keyword")
    input.btn(type="submit", name="submit", value="submit")
