-
  var list = [
    'one',
    'two',
    'tree'
  ]
-
  var obj = {
    a: 'one',
    b: 'two',
    c: 'tree',
  }

- for(var i=0,l=list.length; i<l; i+=1)
  p= list[i]

- each val, index in obj
  p #{index}: #{val}
