extends layout


block content
  div.container
    if user
      p Welcome to #{user}
    else
      h2 login form

    form(method="post" action="/confirm")
      div.form-group
        label(for='inputId') ID
        input.form-control#inputId(type="text", name="username")
      div.form-group
        label(for='inputPw') PW
        input.form-control#inputPw(type="password", name="pw")
        input.btn.btn-primary(type="submit", value="submit")
