//extends layout

head
  style
    include style.css

body

  block content
    h1= title
    if user
      p Welcome to #{user}
    else
      p Hello

    form(method="post" action="/confirm")
      input(type="text" name="username")
      input(type="password" name="pw")
      input.btn(type="submit" value="submit")
