doctype html
html
  head

    style
      include ./../stylesheets/bootstrap.min.css

    block title
      div.container(style='padding:20px')
      div.tabbable.tabs-below
        div.tab-content
            div.tab-pane.active
        ul.nav.nav-tabs
            li
                a(href='/', data-toggle='tab') Home
            li
                a(href='/account', data-toggle='tab') Account
            li
                a(href='/', data-toggle='tab') Info
            li
                a(href='/file', data-toggle='tab') Input Data



      h1= 'Healthcare Information Sharing App'


  body
    block content


  footer
    p ©2015-2016 Ryuji Matsuoka
