doctype html
html
  head

    style
      include ./../stylesheets/bootstrap.min.css

    block title
      div.container(style='padding:20px')
      div.tabbable.tabs-below
        div.tab-content
            div.tab-pane.active
        ul.nav.nav-tabs
            li
                a(href='/', data-toggle='tab') Home
            li
                a(href='/account', data-toggle='tab') Account
            li
                a(href='../blog', data-toggle='tab') Info
            li
                a(href='../faq', data-toggle='tab') Input
            


      h1= 'Healthcare Information Sharing App'


  body
    block content


  footer
    div#sns-facebook.
      <div id="fb-root"></div>
      <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
